<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--DataSource：使用 spring 的数据源替换 mybatis 的配置 c3p0 dbcp druid
        这里使用 spring 提供的 jdbc
        连接数据库
    -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true&amp;"/>
        <property name="username" value="root"/>
        <property name="password" value="ccbysq520"/>
    </bean>

    <!--sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--绑定 mybatis 配置文件，配置mapper-->
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <property name="mapperLocations" value="classpath:com/cyd/mapper/*.xml"/>
    </bean>

    <!--sqlSessionTemplate:就是我们之前创建的sqlsession-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <!--构造器注入 sqlfactory，无setter-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--set方法：注入实现类-->
    <bean id="userMapper" class="com.cyd.mapper.UserMapperImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
    </bean>

    <!--support 方法只需要把父类的 Factory注入即可，不需要生成template-->
    <bean id="userMapper2" class="com.cyd.mapper.UserMapperImpl2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>
    <!-- more bean definitions go here -->
</beans>